body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #19222A;
  color: #fff;
}

.maincontainer {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFE603;
  border-radius: 5px;
}

.header {
  text-align: center;
  background-color: #FFE603;
  padding: 60px;
}

.launchheader {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
}

.profile{
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFE603;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;

}

.header h1,
.launchheader h1 {
  color: #19222A;
  font-weight: bold;
}

.launchheader h1 {
  color: #ffffff;
}

#container {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #242425;
  border-radius: 50px;
  border: 15px solid #424549;
  margin-top: 50px;
}
#center-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.preview{
  width: 100%;
  height: 350px;
  border-radius: 5px;
  border: 5px solid #424549;
  background-image: url('..\src\assets\sample_presentation.png');
  background-size: cover;
  background-position: center;
  height: 300px;

}

label {
  font-weight: bold;
  font-size: 16px;
  color: #424549;
  display: block;
  margin-bottom: 5px;
  margin-left: 50px;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #424549;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 250px;
  margin-left: 50px;
  margin-right: 120px;
}

button {
  padding: 7px 25px;
  font-size: 12px;
  border: 1px solid #FFE603;
  border-radius: 18px;
  margin-bottom: 20px;
  background-color: #FFE603;
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

button:hover {
  transform: scale(1.1); 
}

.btn-container {
  text-align: center;
  margin-top: 50px;
}

#homeButton {
  display: inline-block;
  margin-right: 50px;
}

#homeButton, #deleteButton{
  width: 150px;
}